*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}


#overview {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

#overview td, #overview th {
  border: 1px solid #ddd;
  padding: 8px 2px;
}

#overview tr:nth-child(even){background-color: #f2f2f2;}

#overview th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1a1a4e;
  color: rgb(255, 255, 255);
}

nav{
  display :flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1a1a4e;
  text-transform: uppercase;
}

.logo{
  color: rgb(233, 233, 233);
  text-transform: uppercase;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
  z-index: 10000;
}

.nav-links li{
  display: flex;
  list-style: none;
  height: 8vh;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a{
  display: flex;
  color: rgb(233, 233, 233);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  height: 8vh;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a:hover{
  background-color: #1a1a4e;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(233, 233, 233);
  margin: 5px;
  transition: all 0.3s ease;
}



.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

#phonenumbers {
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#phonenumbers td, #phonenumbers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#phonenumbers tr:nth-child(even){background-color: #f2f2f2;}

#phonenumbers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1a1a4e;
  color: rgb(255, 255, 255);
}


.select {
  width: 80%;
  margin:auto;
  text-align: left;
}


.select select {
  background-color: #1a1a4e;
  color: white;
  padding: 10px;
  width: 98%;
  border: none;
  font-size: 24px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  text-transform: uppercase;
  margin-left: 1%;
  overflow: hidden;

}

label{
  font-size: 30px;
  margin-left: 1%;
}

/* Customize the label (the container) */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
  display: none
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: rgb(200, 200, 200);
  border: solid #1a1a4e;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #777;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1a1a4e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#choosemachine{
  border: solid #1a1a4e;
}

#choosepump{
  border: solid #1a1a4e;
}

#checkboxtext{
  text-align: center;
  margin-bottom: 1%;
  font-size: 18px;
}

#checks{
  border: solid black;
  margin: auto;
  font-size: 24px;
  width: 30%;
  padding: 5px;
}

.container{
  font-size: 24px;
  width: fit-content;
  margin: auto;
}

form.select div {
  padding: 10px;
}

#buttonstartmachine {
  display: block;
  background-color: #1a1a4e;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  border: none;
  margin: auto;
  margin-top: 30px
 }
 
 #buttonstartmachine:hover {
  border: none;
  background: #777;
 }

 #editpump {
  width: 30%;
  border: solid #1a1a4e;
  margin: auto;
  margin-top: 20px;
  padding: 20px
 }

 #createmachine {
  width: 30%;
  border: solid #1a1a4e;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
 }

 #createpump {
   width: 30%;
   border: solid #1a1a4e;
   margin: auto;
   padding: 20px;
 }

 .createandupdatebuttons {
  display: block;
  background-color: #1a1a4e;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: none;
  margin: auto;
  margin-top: 10px
 }

 /* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: #ddd;
  margin: auto;
  display: flex;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #1a1a4e;
  color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  transition: 0.3s;
  font-size: 24px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1a1a4eb9;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ddd;
  color: #1a1a4e;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-top: none;
  height: 60vh;
  width: 75vw;
  margin: auto;
}

.choosetimesubmit{
    background-color: #1a1a4e;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
    border: none;
    margin: auto;
    margin-top: 30px
}



 @media screen and (max-width:1624px){
  .nav-links{
    width: 75%;
  }
  p{
    width: 30% !important;
  }
  #editpump{
    width: 40% !important;
  }
  #createpump{
    width: 40% !important;
  }
  #createmachine{
    width: 40% !important;
  }
  #overview{
    width: 80%;
  }
}

@media screen and (max-width:1280px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    height: 0;
    top: 8vh;
    background-color: #1a1a4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    transition: 0.5s ease-in-out;
  }
  .nav-links li{
    opacity: 0;
    display: none;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-links a{
    font-size: 20px;
  }
  p{
    width: 40% !important;
  }
  .nav-active-li{
    display: flex !important;
  }
  
  .nav-active{
    height: 24rem;
  }
  #editpump{
    width: 50% !important;
  }
  #createpump{
    width: 50% !important;
  }
  #createmachine{
    width: 50% !important;
  }
}

@media screen and (max-width:912px){
  p{
    width: 50% !important;
  }
  #editpump{
    width: 65% !important;
  }
  #createpump{
    width: 65% !important;
  }
  #createmachine{
    width: 65% !important;
  }
}

@media screen and (max-width:740px){
  p{
    width: 60% !important;
  }
  #editpump{
    width: 75% !important;
  }
  #createpump{
    width: 75% !important;
  }
  #createmachine{
    width: 75% !important;
  }
}

@media screen and (max-width:608px){
  p{
    width: 70% !important;
  }
  #editpump{
    width: 90% !important;
    padding: 0px  25%;
  }
  #createpump{
    width: 90% !important;
    padding: 0px  25%;
  }
  #createmachine{
    width: 90% !important;
    padding: 0px 25%;
  }
}

@media screen and (max-width:528px){
  p{
    width: 90% !important;
  }
  #editpump{
    width: 100% !important;
    padding: 0px  17%;
  }
  #createpump{
    width: 100% !important;
    padding: 0px  17%;
  }
  #createmachine{
    width: 100% !important;
    padding: 0px 17%;
  }
}

@media screen and (max-width:420px){
  p{
    width: 100% !important;
  }
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px) {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
    
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
      position: relative;
      padding-left: 50% !important;
      text-align: left;
		}

		td:before {
      position: absolute;
      left: 5px;
      padding-right: 10px;
      white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Maskine id"; }
		td:nth-of-type(2):before { content: "Pumpe navn"; }
		td:nth-of-type(3):before { content: "Færdig"; }
		td:nth-of-type(4):before { content: "Status"; }
	}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translatex(0px);
  }
}
