
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

html {
  text-align: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

input[type="datetime-local"] {
  width: 160px;
  height: 50px;
  border-radius: 16px;
  border: none;
}

#loginform {
  margin: auto;
  padding: 16px;
  width: 225px;
}

#loginbutton {
  margin: auto;
}

.machineparktables {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.machineparktables td, .machineparktables th {
  padding: 8px 2px;
}

.machineparktables tr:nth-child(even){background-color: #e4e4e4;}
.machineparktables tr:nth-child(odd){background-color: #f8f8f8;}

.machineparktables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(72, 71, 113);
  color: rgb(255, 255, 255);
}

.machineparktableheaders {
  background: #1a1a4e;
  width: 60%;
  margin: auto;
  margin-bottom: -50px;
  margin-top: 50px;
  text-align: left;
  overflow: auto;
}

.machineparktableheaderstext {
  margin-left: 20px;
  color: white;
  padding: 10px;
  font-size: 32px;
  float: left;
}

.machineparktableheadersplus {
  color: white;
  float: right;
  font-size: 42px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#createmachinemodaltext {
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  font-size: 30px;
}

#createmachineid {
  font-size: 18px;
  width: 80%;
  height: 36px;
  border-radius: 10px;
  border: solid rgb(230, 230, 230) 1px;
  margin-left: 10%;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

#createmachinemodal {
  height: 215px;
}

.forms {
  position: relative;
  background: white;
  width: 30%;
  top: 21%;
  height: 42%;
  border: solid #1a1a4e;
  margin: auto;
}

#machinemodal {
  height: 316px;
}

#removemachinemodal {
  height: 180px;
}

#removepumpmodal {
  height: 180px;
}

#removenotebutton {
  background-color: #DF4848;
  color: white;
  cursor: pointer;
}

.modalforms {
  position: relative;
  border-radius: 24px;
  background: rgb(245, 245, 245);
  width: 30%;
  top: 21%;
  height: 360px;
  margin: auto;
  text-align: left;
}

.modallabelbox {
  padding-top: 4%;
  padding-left: 2%;
}

.modalforms label {
	display:block;
  margin-left: 4%;
	margin-bottom: 10px;
}
.modalforms label > span{
	display: inline-block;
	width: 30%;
  font-size: 24px;
  color: #777777;
}

.removemodalbuttonspan {
  display: inline-block;
  margin-left: 4%;
  width: 30%;
}

#cancelmachinemodal {
  border: solid orange 1px;
  color: orange;
}

#cancelpumpmodal {
  border: solid orange 1px;
  color: orange;
}

.removemodalbutton {
  margin-top: 8px;
  color: #DF4848;
  width: 180px;
  border: solid #DF4848 1px;
  height: 36px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modalbuttons {
  margin-top: 8px;
  width: 140px;
  height: 36px;
  border-radius: 10px;
}

.cancelmodalbutton {
  border: solid blue 1px;
  margin-right: 5px;
  margin-top: 8px;
  width: 140px;
  height: 36px;
  border-radius: 10px;
}

#updatemodalbutton {
 background-color: #42CB6B;
 border: none;
 color: white;
 margin-left: 5px;
}

.modalbuttonbox {
  width: fit-content;
  margin: auto;
}

.labelremovemodal {
  width: fit-content;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 60px;
}

#removemachinemodalbutton {
  color: white;
  background: #DF4848;
}

#removepumpmodalbutton {
  color: white;
  background: #DF4848;
}

.modalinputs {
  font-size: 18px;
  width: 180px;
  height: 36px;
  border-radius: 10px;
  border: solid rgb(230, 230, 230) 1px;
}

#createpumpmodallabelbox {
  margin: auto;
}

#createpumpmodaltext {
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  font-size: 30px;
}

#createpumpmodal {
  height: 400px;
}

#createpumpmodalbuttonbox {
  margin-top: 50px;
}

.createpumpmodalinputs {
  font-size: 18px;
  width: 80%;
  height: 36px;
  border-radius: 10px;
  border: solid rgb(230, 230, 230) 1px;
  margin-left: 10%;
  margin-top: 20px;
}

#createpumpname {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}

.bigmodalinputs {
  font-size: 30px;
  width: 250px;
  height: 54px;
  border-radius: 10px;
  border: solid rgb(230, 230, 230) 1px;
}

.tablelabel {
  margin-bottom: -40px;
  margin-top: 30px;
}

#machineid {
  font-size: 64px;
  margin-top: 65%;
  transition: all .3s ease-in-out;
}

#active {
  margin: auto;
  font-size: 24px;
  padding: 8px;
}

#maintenancetext {
  margin-top: -25px;
  position: absolute;
}

#createnoteinput {
  margin-left: 8px;
  font-size: 18px;
}

#createnotetext {
  border-bottom: 1px solid black;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 50px;
}

#createnotebutton {
  background-color: #1a1a4e;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: none;
  margin: auto;
  margin-left: 10px;
}

select {
  cursor: pointer;
}

button {
  cursor: pointer;
}

#backbutton {
  display: block;
  width: 100px;
  background-color: #1a1a4e;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: none;
  margin-left: 25px;
  margin: left;
  margin-top: 25px
}

#maintenance {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.maintenanceboxheading {
  font-size: 16px;
  color: gray;
  margin-left: 20px;
  width: 100% !important;
}

.maintenanceboxtext {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#maintenanceboxhover {
  text-align: left;
}

#maintenanceboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 50px;
  color: white;
  font-size: 60px;
  background-color: #1a1a4e;
  border: 0;
  border-radius: 24px;
  overflow: hidden;
}

#hid-box {
  top: 10%;
  position: relative;
  transition: all .3s ease-out;
  background: #DF4848;
  height: 100%;
  width: 250px;
}

#maintenanceboxes:hover #hid-box{
  top: 0%;
}

#maintenanceboxes:hover #machineid {
  margin-top: 0px;
  transition: all .3s ease-in-out;
}

#shownmachine {
  display: flex;
  margin: auto;
  flex-direction: column;
}

#allmachineattributes {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.showmachineh1{
  border-bottom: 1px solid black;
}

.machineattributes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;
}

.machineattributes p{
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#stopwateringbuttontext {
  visibility: hidden;
}

#stopwateringbutton {
  cursor: pointer;
  background: #DF4848;
  color: white;
  font-size: 20px;
  border-radius: 8px;
}

.tables {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.tables td, .tables th {
  border: 1px solid #ddd;
  padding: 8px 2px;
}

.tables tr:nth-child(even){background-color: #f2f2f2;}

.tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1a1a4e;
  color: rgb(255, 255, 255);
}

nav{
  display :flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1a1a4e;
  text-transform: uppercase;
}

.logo{
  color: rgb(233, 233, 233);
  text-transform: uppercase;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
  z-index: 10000;
}

.nav-links li{
  display: flex;
  list-style: none;
  height: 8vh;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a{
  display: flex;
  color: rgb(233, 233, 233);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  height: 8vh;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a:hover{
  background-color: #1a1a4e;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(233, 233, 233);
  margin: 5px;
  transition: all 0.3s ease;
}



.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

#phonenumbers {
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#phonenumbers td, #phonenumbers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#phonenumbers tr:nth-child(even){background-color: #f2f2f2;}

#phonenumbers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1a1a4e;
  color: rgb(255, 255, 255);
}


.select {
  width: 80%;
  margin:auto;
  text-align: left;
}


.select select {
  background-color: #1a1a4e;
  color: white;
  padding: 10px;
  width: 98%;
  border: none;
  font-size: 24px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  text-transform: uppercase;
  overflow: hidden;

}


.removeselector select {
  background-color: #1a1a4e;
  color: white;
  width: 60%;
  border: none;
  font-size: 24px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  text-transform: uppercase;
  margin-top: 6px;
  overflow: hidden;
}

label{
  font-size: 30px;
}

/* Customize the label (the container) */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
  display: none
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: rgb(200, 200, 200);
  border: solid #1a1a4e;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #777;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1a1a4e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#choosemachine{
  border: solid #1a1a4e;
}

#choosepump{
  border: solid #1a1a4e;
}

#checkboxtext{
  text-align: center;
  margin-bottom: 1%;
  font-size: 18px;
}

#checks{
  border: solid black;
  margin: auto;
  font-size: 24px;
  width: 30%;
  padding: 5px;
}

.container{
  font-size: 24px;
  width: fit-content;
  margin: auto;
}

form.select div {
  padding: 10px;
}

#buttonstartmachine {
  display: block;
  background-color: #1a1a4e;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  border: none;
  margin: auto;
  margin-top: 30px
 }
 
 #buttonstartmachine:hover {
  border: none;
  background: #777;
 }

.createandupdatebuttons {
  display: block;
  background-color: #1a1a4e;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: none;
  margin: auto;
  margin-top: 10px
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: #ddd;
  margin: auto;
  display: flex;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #1a1a4e;
  color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  transition: 0.3s;
  font-size: 24px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1a1a4eb9;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ddd;
  color: #1a1a4e;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-top: none;
  height: 60vh;
  width: 75vw;
  margin: auto;
}

.choosetimesubmit{
    background-color: #1a1a4e;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
    border: none;
    margin: auto;
    margin-top: 30px
}



 @media screen and (max-width:1624px){
  .nav-links{
    width: 75%;
  }
  p{
    width: 30% !important;
  }
  .forms {
    width: 40% !important;
  }
  .tables{
    width: 80%;
  }
}

@media screen and (max-width:1280px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    height: 0;
    top: 8vh;
    background-color: #1a1a4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    transition: 0.5s ease-in-out;
  }
  .nav-links li{
    opacity: 0;
    display: none;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-links a{
    font-size: 20px;
  }
  p{
    width: 40% !important;
  }
  .nav-active-li{
    display: flex !important;
  }
  
  .nav-active{
    height: 24rem;
  }
  .forms {
    width: 50% !important;
  }
  .modalforms {
    width: 43%;
  }
}

@media screen and (max-width:912px){
  p{
    width: 50% !important;
  }
  .forms {
    width: 65% !important;
  }
  .modalforms {
    width: 55%;
  }
}

@media screen and (max-width:740px){
  p{
    width: 60% !important;
  }
  .forms {
    width: 75% !important;
  }
  .modalforms {
    width: 65%;
  }
}

@media screen and (max-width:608px){
  p{
    width: 70% !important;
  }
  .forms {
    width: 90% !important;
    padding: 0px 25%;
  }
  .modalforms {
    width: 75%;
  }
}

@media screen and (max-width:528px){
  p{
    width: 90% !important;
  }
  .forms {
    width: 100% !important;
    padding: 0px 17%;
  }
  .modalforms {
    width: 80%;
    height: 430px;
    top: 10%;
  }
  .modalforms label {
    margin-left: 6%;
  }
  .modalforms label > span{
    display: block;
    font-size: 20px;
  }
  #removepumpbuttonspan {
    display: inline-block;
    margin-left: 4%;
    width: 30%;
  }
  #removepumpbutton {
    margin-top: -6px;
    margin-left: 15%;
    width: 70%;
  }
  .modalbuttons {
    margin-top: 8px;
    width: 120px;
    height: 36px;
    border-radius: 10px;
  }
  #cancelmodalbutton {
    margin-right: 2px;
  }
  #updatemodalbutton {
   margin-left: 2px;
  }
  .modalinputs {
    font-size: 22px;
    width: 90%;
  }
  .bigmodalinputs {
    height: 36px;
    font-size: 22px;
    width: 90%;
  }
  .cancelmodalbutton {
    width: 120px;
  }
  .removemodalbutton {
    width: 120px;
  }
  #machinemodal {
    height: 356px;
  }
}

@media screen and (max-width:420px){
  p{
    width: 100% !important;
  }
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px) {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
    
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
      position: relative;
      padding-left: 50% !important;
      text-align: left;
		}

		td:before {
      position: absolute;
      left: 5px;
      padding-right: 10px;
      white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		#tableoverview td:nth-of-type(1):before { content: "Maskine nr."; }
		#tableoverview td:nth-of-type(2):before { content: "Pumpe Navn"; }
		#tableoverview td:nth-of-type(3):before { content: "Færdig"; }
    #tableoverview td:nth-of-type(4):before { content: "Stop Vanding";}

    #tablenotes td:nth-of-type(1):before { content: "Maskine nr."; }
		#tablenotes td:nth-of-type(2):before { content: "Oprettet dato"; }
		#tablenotes td:nth-of-type(3):before { content: "Note"; }

    #tablemachineparkpumps td:nth-of-type(1):before { content: "Navn"; }
		#tablemachineparkpumps td:nth-of-type(2):before { content: "Nummer"; }
		#tablemachineparkpumps td:nth-of-type(3):before { content: "Startkode"; }
    #tablemachineparkpumps td:nth-of-type(4):before { content: "Stopkode"; }

    #tablemachineparkmachines td:nth-of-type(1):before { content: "Maskine nr."; }
    #tablemachineparkmachines td:nth-of-type(2):before { content: "Model"; }
    #tablemachineparkmachines td:nth-of-type(3):before { content: "Dyse størrelse"; }
	}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translatex(0px);
  }
}


