

/* STARTMACHINE CHECKBOXES */
/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked~.checkmark {
  background-color: #1a1a4e;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: rgb(200, 200, 200);
  border: solid #1a1a4e;
}
/* STARTMACHINE CHECKBOXES */




@media screen and (max-width:1624px) {
  .forms {
    width: 40% !important;
  }
}

@media screen and (max-width:1280px) {
  body {
    overflow-x: hidden;
  }

  .forms {
    width: 50% !important;
  }

  .modalforms {
    width: 43%;
  }
}

@media screen and (max-width:912px) {
  .forms {
    width: 65% !important;
  }

  .modalforms {
    width: 55%;
  }
}

@media screen and (max-width:740px) {
  .forms {
    width: 75% !important;
  }

  .modalforms {
    width: 65%;
  }


}

@media screen and (max-width:608px) {
  .forms {
    width: 90% !important;
    padding: 0px 25%;
  }

  .modalforms {
    width: 75%;
  }

}

@media screen and (max-width:528px) {
  .forms {
    width: 100% !important;
    padding: 0px 17%;
  }

  .modalforms {
    width: 80%;
    height: 430px;
    top: 10%;
  }

  .modalforms label {
    margin-left: 6%;
  }

  .modalforms label>span {
    display: block;
    font-size: 20px;
  }

  #removepumpbuttonspan {
    display: inline-block;
    margin-left: 4%;
    width: 30%;
  }

  #removepumpbutton {
    margin-top: -6px;
    margin-left: 15%;
    width: 70%;
  }

  .modalbuttons {
    margin-top: 8px;
    width: 120px;
    height: 36px;
    border-radius: 10px;
  }

  #cancelmodalbutton {
    margin-right: 2px;
  }

  #updatemodalbutton {
    margin-left: 2px;
  }

  .modalinputs {
    font-size: 22px;
    width: 90%;
  }

  .bigmodalinputs {
    height: 36px;
    font-size: 22px;
    width: 90%;
  }

  .cancelmodalbutton {
    width: 120px;
  }

  .removemodalbutton {
    width: 120px;
  }

  #machinemodal {
    height: 356px;
  }
}

/*

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translatex(0px);
  }
}

*/